[Unit]
Description=Boots up a PC using WoL when the spceified bluetooth device is detected.
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/BTWake/run.sh 12:34:56:78:91:01 01:91:78:56:34:12

[Install]
WantedBy=multi-user.target
